<div class="container">
    
        <h1>Uppercase Pipe</h1>
<b>{{"Md Mazharul Haque" | uppercase}}</b> <br>

<h1>Lowercase Pipe</h1>
<b>{{"Md Mazharul Haque" | lowercase}}</b> <br>

<h1>Date Pipe</h1>
<b>{{currectdate | date: 'yyyy'}}</b> <br>
<b>{{currectdate | date: 'fullDate'}}</b> <br>
<b>{{currectdate | date: 'shortDate'}}</b> <br>
<b>{{currectdate | date: 'yy'}}</b> <br>
<b>{{currectdate | date: 'longDate'}}</b> <br>
<b>{{currectdate | date: 'shortTime'}}</b> <br>
<b>{{currectdate | date: 'dd/mm/yyyy'}}</b> <br>
<b>{{currectdate | date: 'dd-mm-yyyy'}}</b> <br>
<b>{{currectdate | date: 'dd.mm.yyyy'}}</b> <br>
<b>{{currectdate | date: 'dd.mm.yyyy hh:mm:ss'}}</b> <br>
<b>{{currectdate | date: 'dd.mm.yyyy hh:mm:ss a'}}</b> <br>

<h1>Json Pipe</h1>
<b>{{emp | json}}</b> <br>

<h1>Decimal Pipe</h1>
<b>{{496.54 |number: '5.6'}}</b> <br>

<h1>Currency pipe</h1>
<b>{{945623.002 | currency: "USD"}}</b><br>
<b>{{945623.002 | currency: "INR"}}</b><br>
<b>{{945623.002 | currency: "EUR"}}</b><br>
<b>{{945623.002 | currency: "GBP"}}</b><br>

<h1>Percent Pipe</h1>
<b>{{0.25 | percent}}</b><br>
<b>{{0.25 | percent: '2.2-2'}}</b><br>
<b>{{00.025 | percent}}</b><br>

<h1>Titlecase </h1>
<b>{{courses | slice:2:5}}</b>
    


</div>


